* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
     min-height: 100vh;
    margin: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    transition: background-image 0.8s ease-in-out;

    display: flex;
    justify-content: center;
    padding: 30px;
}


@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.app {
    width: 100%;
    max-width: 900px;
}

.search-section {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.search-section input {
    flex: 1;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-section button {
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    background: #4facfe;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.current-weather {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.current-weather h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.current-weather h3 {
    font-size: 36px;
}


.current-weather img {
    width: 90px;
}

.section-title {
    margin: 20px 0 10px;
    color: #222;
}

.slider {
    overflow: hidden;
    width: 100%;
}

.slider-track {
    display: flex;
    gap: 15px;
    animation: slide 30s linear infinite;
}

.weather-card {
    min-width: 160px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    padding: 15px;
    text-align: center;
}

.weather-card img {
    width: 60px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.recent-searches {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.recent-card {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    padding: 15px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.recent-card:hover {
    transform: translateY(-6px);
}

.recent-card img {
    width: 50px;
}
